*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    height: 100vh;
    width: 100%;
    background: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}
.logo{
    width: 140px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    position: relative;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #f60303;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    
}
.header-text{
    margin-top: 30%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    
    color: #ef0000;
}
/*-------------about-------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    
}.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffff;
    
}.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}.tab-links::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}.tab-links.active-link::after{
    width: 100%;
    
}.tab-contents ul li {
    list-style: none;
    margin-top: 10px 0;
}.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    
}
/*-------------services-------------------*/
#services{
   
    padding: 30px 0;
    
}
.services-list{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
   color: #fff;
    margin-top: 50px;
    
    
}
.services-list div{
    background-color: #262626;
    padding: 40px;

    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
    
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    
}
/*-------------portfolio-------------------*/
#portfolio{
    padding: 50px 0;
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.work img{
    width: 100%;
    transition: transform 0.5s;
    border-radius: 10px;
    display: block;
    
}
.layer{
    
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;  
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px ;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    color: #ff004f;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    background: #fff;
    line-height: 60px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
}
.work:hover .img{
    transform: scale(1.1);
    
}
.work:hover .layer{
    height: 100%;
    
}
/*-------------contact-------------------*/
.contact-left{
    flex-basis: 50%;
   
}
.contact-right{
    flex-basis: 60%;
    
}.contact-left p{
    color: #ababab;
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 18px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    margin-top: 30px;
    font-size: 30px;
    margin-right: 15px;
    color : #ababab;
    display: inline-block  ;
    transition: transform 0.5s;
}   
.social-icons a:hover{
    transform: translateY(-5px);
    color: #ff004f;
}
.btn.btn2{
    background: #ff004f;
    color:#fff;
    display: inline-block;
    

}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 6px;
    border: 0;
    background-color: #262626;
    color: #fff;
    outline : none;
    font-size: 18px;
}